@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow-x: hidden;
  background-image:url(/public/starwarsBG.jpeg) ;
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.animating-div {
  animation: grow-div 4s ease-in-out ;
}

@keyframes grow-div {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}




/* yukarıdakı forwards ozellıgı ıle anımasyon bıtımınde durdurduk sonsuz donguyu enlledık. */